<h2>Welcome to the note list, update page.</h2>

<hr>
{{#each listscores}}
<div class="listscore">
  <form class="form-horizontal" role="form" action="/db-update/process" method="POST">
    <input type=hidden name="key" value="{{key}}">
    First: <input type="text" name="first" value="{{first}}">
    Middle: <input type="text" required name="middle" value="{{middle}}">
    last: <input type="text" required name="last" value="{{last}}">
    born: <input type="text" required name="born" value="{{born}}">
    <button type"submit">Update</button>
  </form>
</div>
{{/each}}

<hr>
<br /><a href="/">Return to home</a>